<form>
  <input type="hidden" name="from_id" value={{from_id}}>
  <br>
  <b>Conversations:</b>
  <br>
  <br>
  <input type="submit" formaction="/new" formmethod="get" value="New Message">
  <br>
  <br>
  {{#each conversation}}
      <li><a href="/message?key={{conversation_key}}&from_id={{from_userid}}">To: {{name}}</li>
      <br>
  {{/each}}
</form>
