<form action="/" method="post">
  <input type="hidden" name="key" value={{key}}>
  <br>
  <b>Message From:</b>
  <br>
  <br>
  <input type="number" name="from_id" placeholder="Enter ID" required></input>
  <br>
  <br>
  <b>Message To:</b>
  <br>
  <br>
  <input type="number" name="to_id" placeholder="Enter ID" required></input>
  <br>
  <br>
  <button type="submit" value="submit">Start messaging</button>
</form>
