<form action="/message" method="post">
  <input type="hidden" name="key" value={{key}}>
  Key: {{key}}<br>
  <br>
  <b>Message text:</b>
  <br><br>
  <textarea rows="2" cols="50" name="message" placeholder="Type your message here" required></textarea>
  <br>
  <br>
  <button type="submit" value="submit">Send</button>
</form>
