<form action="/new" method="post">
  <input type="hidden" name="from_id" value={{from_id}}>
  <br>
  <b>Message From:</b>
  <br>
  <br>
  From: {{from_id}} - {{screen_name}}
  <br>
  <br>
  <b>Message To:</b>
  <br>
  <br>
  <input type="number" name="to_id" placeholder="Enter ID" required></input>
  <br>
  <br>
  <button type="submit" value="submit">Start messaging</button>
</form>
