<form>
  <br>
  <b>Message From:</b>
  <br>
  <br>
  <input type="number" name="from_id" placeholder="Enter ID" required></input>
  <br>
  <br>
  <input type="submit" formaction="/new" formmethod="get" value="New Message">
  <br>
  <input type="submit" formaction="/conversations" formmethod="get" value="Conversations">
</form>
